:root {
	--heavy: #472183;
	--normal: #4B56D2;
	--blue: #5F6AE4;
	--blight: #82C3EC;
	--bvlight: #F1F6F5;
}

.vh-100 { height: 100vh;}

.bg-heavy { background-color: var(--heavy); }
.bg-normal { background-color: var(--normal); }
.bg-blue { background-color: var(--blue); }
.bg-blight { background-color: var(--blight); }
.bg-bvlight { background-color: var(--bvlight); }

.button {
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 0.25rem 0.75rem;
	background-color: var(--normal);
	color: var(--bvlight);
	transition: 0.25s;
	font-size: 14px;
}
.button:hover {
	background-color: var(--blue);
}

.button-card {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 12px;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: var(--blue);
}
.button-card:hover {
	background-color: var(--blight);
}

.input-theme {
	position: relative;
	background-color: white;
	padding-left: 0;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: rgb(var(--bs-light-rgb));
	transition: 0.25s;
}
.input-theme:focus {
	border-bottom: 2px solid var(--normal);
	border-left: 2px solid var(--normal);
	padding-left: 5px;
	background-color: white;
	outline: none;
}